<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-12 col-lg-6 col-xl-4 my-auto">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <div class="container">
            <div class="row">
              <form class="col-12 p-0">
                <div class="form-group">
                  <label>Nome de usuario</label>
                  <input class="col-12 form-control" #username type="text" placeholder="Nome de usuario">
                </div>
                <div class="form-group">
                  <label>Senha</label>
                  <input class="col-12 form-control" #password type="password" placeholder="password">
                </div>
              </form>
              <div class="col-12 p-0 d-flex justify-content-end">
                <button class="btn btn-primary" (click)="login(username.value, password.value)">login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="error" class="container-fluid fixed-bottom">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error?.message }}
    {{ error?.error | json }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>